/*webkit-sassui-spinner Start*/
.webkit-sassui-spinner {
  font-size: 10px;
  width: 3.2em;
  height: 3.2em;
  background: url("https://ws4.sinaimg.cn/large/006tNbRwgy1fvcdkbo352g303k03kq2r.gif") no-repeat;
  background-size: 100%;
}

/*webkit-sassui-spinner End*/
* {
  margin: 0;
  padding: 0;
}

.test-webkit-sassui-spinner .webkit-sassui-spinner {
  position: absolute;
  top: 37.2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
