/*webkit-sassui-spinner Start*/
$webkit-sassui-spinner-options: (
  size: 2.4em,
  value: 'https://ws4.sinaimg.cn/large/006tNbRwgy1fvcdkbo352g303k03kq2r.gif'
) !default;

.webkit-sassui-spinner {
  $size: map-get(
    $map: $webkit-sassui-spinner-options,
    $key: size
  );

  $value: map-get(
    $map: $webkit-sassui-spinner-options,
    $key: value
  );

  font-size: 10px;
  width: $size;
  height: $size;
  background: url($value) no-repeat;
  background-size: 100%;
}
/*webkit-sassui-spinner End*/
